<div class="mt-4">
  <h2 class="post-title">{{ title }}</h2>
  <hr>
  <ng-container *ngIf="posts; else noPosts">
    <div *ngFor="let post of posts" class="card my-4">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Name</strong>
            <span class="float-right">{{ post.first_name}} {{ post.last_name }}</span>
          </li>
          <li class="list-group-item">
            <strong>Email</strong>
            <span class="float-right">{{ post.email }}</span>
          </li>
          <li class="list-group-item">
            <strong>Username</strong>
            <span class="float-right">{{ post.username }}</span>
          </li>
          <li class="list-group-item">
            <strong>Country</strong>
            <span class="float-right">{{ post.country }}</span>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <button (click)="onHandleView(post._id)" class="btn btn-view text-light mr-1">VIEW</button>
        <button (click)="onHandleDelete(post._id)" class="btn btn-delete text-light">DELETE</button>
        <p class="text-muted font-italic float-right">Post Created {{ post.date }}</p>
      </div>
    </div>
  </ng-container>
  <ng-template #noPosts>
    <div class="card text-center">
      <div class="card-body">
        <h4 class="text-muted">No Posts Added Yet...</h4>
      </div>
    </div>
  </ng-template>
</div>
