<div class="my-4">
  <h2 class="post-title">{{ title }}</h2>
  <hr>
  <div class="my-3">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, qui deserunt? Iure perspiciatis explicabo eligendi quos voluptatibus dolor tempore cumque amet, officia possimus molestiae autem reiciendis neque cum excepturi vero error dolorum voluptas vitae aliquid distinctio quidem! Blanditiis officiis tempora adipisci neque, excepturi nulla tempore, autem cumque voluptate obcaecati voluptas!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quaerat quos velit dolor magni. Voluptates maxime officia at saepe quisquam voluptatibus? Quaerat natus cupiditate numquam itaque consectetur animi eaque illo.</p>
  </div>
</div>
